<!doctype html>
<title>MySSBM</title>
<head>
  {% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  {%endblock%}
</head>

<div style="text-align:center">
  <h1>MySSBM</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
    <a href="{{ url_for('register') }}" class="btn btn-primary"> Register </a>
  {% else %}
    <a href="{{ url_for('logout') }}" class="btn btn-primary">Log Out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}

<!-- for extended layouts -->
  {% block body %}{% endblock %}
</div>
