{% extends "layout.html" %}
{% block body %}
  <h2>Register</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('register') }}" method=post>
    <dl>
      <dt>Email:
      <dd><input type=text name=email>
      <dt>Password:
      <dd><input type=password name=password>
      <dt>Tag:
      <dd><input type=text name=tag>
      <dt>Main:
      <div class="checkboxgroup">
          <label> <img src="static/fox.png"> <br> <input type="radio" name="reg_main" value="Fox">  </label>
          <label> <img src="static/marth.png"> <br> <input type="radio" name="reg_main" value="Marth"> </label>
          <label> <img src="static/puff.png"> <br> <input type="radio" name="reg_main" value="Puff">  </label>
          <label> <img src="static/Ice_Climbers.png"> <br> <input type="radio" name="reg_main" value="Ice_Climbers"> </label>
          <label> <img src="static/Falco.png"> <br> <input type="radio" name="reg_main" value="Falco"> </label>
          <label> <img src="static/Falcon.png"> <br> <input type="radio" name="reg_main" value="Falcon"> </label>
          <label> <img src="static/Sheik.png"> <br> <input type="radio" name="reg_main" value="Sheik"> </label>
          <label> <img src="static/Peach.png"> <br> <input type="radio" name="reg_main" value="Peach"> </label>
      </div>
      <dd><input type=submit value=Register>
    </dl>
  </form>

{% endblock %}
