{% extends "layout.html" %}
{% block body %}
  <h2>Register</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('register') }}" method=post>
    <dl>
      <dt>Email:
      <dd><input type=text name=email>
      <dt>Password:
      <dd><input type=password name=password>
      <dt>Tag:
      <dd><input type=text name=tag>
      <dt>Main:
      <div class="checkboxgroup">
          <label><img src="static/fox.jpg"> <br> <input type="radio" name="reg_main" value="Fox"> </label>
          <label> <img src="static/marth.jpg"> <br> <input type="radio" name="reg_main" value="Marth"> </label>
          <label> <img src="static/puff.jpg"> <br> <input type="radio" name="reg_main" value="Puff"> </label>
      </div>
      <dd><input type=submit value=Register>
    </dl>
  </form>

{% endblock %}
