{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <div class="container">
    <div class="jumbotron">
      <h2>{{ user.tag }}</h2>

       Main: <img src="static/{{user.main}}.png">
    </div>
    <div class="jumbotron">
      <h2>Sets</h2>
      {% for set in sets1 %}
        <br> {{user.tag}} (<img src="static/{{set.char_1}}.png">) {{set.wins_1}} - {{set.wins_2}} vs. {{set.tag_2}} (<img src="static/{{set.char_2}}.png">) at {{set.tournament}}
      {% endfor %}

      {% for set in sets2 %}
        <br> {{user.tag}} (<img src="static/{{set.char_2}}.png">) {{set.wins_2}} - {{set.wins_1}} vs. {{set.tag_1}} (<img src="static/{{set.char_1}}.png">) at {{set.tournament}}
      {% endfor %}
    </div>

    <div class="jumbtron">
      <h2>Placings</h2>
      {% for placing in placings %}
        <br> {{placing.placing}} - {{placing.tournament}}
      {% endfor %}
    </div>

    <div class="jumbotron">
      <h2> Add a set </h2>
      <form action="{{ url_for('addset') }}" method=post>
        <dl>
          <dt>Opponent:
          <dd><input type=text name=opp_tag>

          <dt> Your Character:
          <div>
            {% for sprite in sprites %}
              <label><img src="static/{{sprite}}.png"> <br> <input type="radio" name="my_char" value="{{sprite}}"> </label>
            {% endfor %}
          </div>

          <dt> Opponent's Character:
          <div>
            {% for sprite in sprites %}
              <label><img src="static/{{sprite}}.png"> <br> <input type="radio" name="opp_char" value="{{sprite}}"> </label>
            {% endfor %}

          </div>

          <dt>Games won:
          <dd><input type=number name=games_won max ="3" min="0">
          <dt>Games lost:
          <dd><input type=number name=games_lost max ="3" min="0">
          <dt>Tournament:
          <dd><input type=text name=set_tournament>

          <dd><input type=submit value=Add class="btn btn-primary">
        </dl>
      </form>
    </div>

    <div class="jumbtron">
      <h2> Add a placing </h2>
      <form action="{{ url_for('addplacing') }}" method=post>
        <dl>
          <dt>Placing:
          <dd><input type=number name=placing min="1">
          <dt>Tournament:
          <dd><input type=text name=placing_tournament>
          <dd><input type=submit value=Add class="btn btn-primary">
        </dl>
      </form>
    </div>
    
  </div>
  {% endif %}

{% endblock %}
